body {
    background-color: #0079BF;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* ------------- HEADER ------------- */

header {
    background-color: #0067A3       ;
    box-sizing: border-box;
    display: inline-flex;
    height: 40px;
    position: relative;
    top: 0;
    width: 100%;
}

header > * > div {
    display: inline-flex;
    position: absolute;
}

/* SECTION TRELLO - TABLERO */
header #trello-tablero {
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    top: 0;
    width: 25%;
}

header #trello-tablero > section:first-child {
    border-radius: 3px;
    background-color: #66A4C8;
    bottom: 4px;
    height: 30px;
    left: 7px;
    position: relative;
    top: 4px;
    width: 100px;
}

header #trello-tablero section:first-child > i {
    left: 7px;
    position: relative;
    top: 7px;       
}

header #trello-tablero section:first-child > span {
    font-size: .9em;
    font-weight: bolder;
    left: 12px;
    position: relative;
    top: 6px;       
}

header div#trello-tablero section:last-child > textarea {
    background-color: #66A4C8;
    border: 0;
    border-radius: 3px;
    bottom: 4px;
    position: relative;
    padding: 0;
    height: 30px;
    resize: none;
    left: 15px;
    top: 4px;
    width: 180px;
}

header #trello-tablero #search-area > i {
    float: left;
    top: 11px;
    right: 45px;
    position: absolute;
}

/* SECTION TRELLO - TOP */
header > #trello-top  {
    display: inline;
    position: relative;
    width: 50%;
}

header #trello-top a > h1 {
    left: 10em;
    margin: 0;
    position: relative;
    opacity: .6;
    overflow: auto;
    width: 3em;
}

header #trello-top a h1 img { 
    height: 22px;
    text-align: center;
}

/* SECTION LIST-MENU */
header > #list-menu {
    border: 1px solid red;
    box-sizing: border-box;
    display: inline;
    position: relative;
    width: 30%;
} 

header #list-menu li {
    border: 1px solid black;
    background-color: #3385B5;
    border-radius: 3px;
    display: inline-flex;
    height: 30px;
    right: 13.5em;
    margin-right: 5px;
    position: relative;
    text-decoration: none;
    top: 1px;
    width: 30px;
    z-index: 10;   
}

header #list-menu li > i {
    font-size: 2x;
    height: 1.2em; 
    left: 7px;
    position: relative;
    top: 7px;
}

header #list-menu li > i.fa-info {
    left: 12px;
}

header #list-menu li:last-child {
    background-color: transparent;
}

header #list-menu li:last-child img {
    border-radius: 100%;
    height: 30px;
    right: 4px;
    width: 30px;
}

/* ------------- MAIN ------------- */
main {
    height: 300px;
    width: 100%;
}

/* ------------- HEADER DE MAIN ------------- */
main #header-main {
    box-sizing: border-box;
    display: inline-flex;
    padding-top: 13px;
    text-decoration: none;
    width: 100%;
}

main #header-main section > a {
    color: white;
    text-decoration: none;
}

main #header-main section:first-child a span {
    margin-left: 0.8em;
    padding-right: 0.8em;
}

main #header-main section:last-child {
    display: absolute;
}

main #header-main section:last-child a span {
    position: absolute;
    right: 13px;
}

/* ------------- SECCION DE TABLEROS ------------- */

/* INPUT INICIAL */
main #container {
    box-sizing: content-box;
    display: inline-block;
    height: 535px;
    position: absolute;
    top: 5em;
    width: 100%;
}

main .tablero div #textInitial {
    background-color: rgb(0, 84, 133, .9);
    border: none;
    text-decoration-color: white;
    left: .8em;
    min-height: 30px;
    min-width: 300px;
    position: relative;
    /*opacity: 0.9;*/
    resize: none;
}

/* FORM PARA GUARDAR INPUTS */
main section.tablero #tablero-lista {
    background-color: #E2E4E6;
    bottom: 2px;
    box-sizing: content-box;
    color: black;
    height: 79px;
    left: .8em;
    position: relative;
    width: 300px;
}

main section.tablero #tablero-lista > input:first-child {
    background-color: #E2E4E6;
    color: black;
    display: block;
    border-radius: 3px;
    min-height: 30px;
    top: 4px;
    left: 3px;
    min-width: 292px;
}

main section.tablero #tablero-lista > input {
    border: none;
    background-color: #5aac44;
    border-radius: 3px;
    bottom: 3px;
    color: white;
    left: 3px;
    min-height: 32px;
    padding: 4px, 16px;
    position: relative;
    top: 8px;
    width: 30%;
}

main .tablero #tablero-lista > i {
    color: grey;
    font-size: 1.5em;
    position: relative;
    opacity: .5;
    left: 8px;
    top: 11px;
}

/* CONTENEDOR DONDE SE GUARDAN LAS TAREAS */ 
main .tablero section#containerList {
    background-color: #E2E4E6;
    box-sizing: border-box;
    color: black;
    display: block;
    height: auto;
    left: .8em;
    position: absolute;
    width: 300px;
}

.titleList {
    left: 4px;
    margin: 0;
    padding: 0;
    top: 4px;
}


.new-Input {
    background-color: transparent;
    border: none;
    color:black;
    left: 5px;
}


/*
main section.tablero #tablero-lista > input:last-child {
    border: 1px solid red;
    background-color: inherit;
    color: gray;
    font-size: 2em;
} */

/* ------------- CLASES ------------- */

.hide {
    display: none;
}

.show {
    display: block;
}